fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary # For PostgreSQL
prometheus-client
numpy
pandas
scikit-learn    # For model inference
xgboost         # If you're using XGBoost
python-dotenv   # For environment variables
joblib
